<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <app-side></app-side>
            </div>

            <div class="col-md-8 col-lg-6 vstack gap-4">
                <!-- Create a page START -->
                <div class="card">
                <!-- Title START -->
                <div class="card-header border-0 pb-0">
                    <h1 class="h4 card-title mb-0">Kreiranje Kategorije</h1>
                </div>
                <!-- Title END -->
                <!-- Create a page form START -->
                <div class="card-body">
                    <form class="row g-3" (ngSubmit)="create()">
                    <!-- Page information -->
                    <div class="col-12">
                        <label class="form-label">Naziv*</label>
                        <input type="text" [(ngModel)]="name" name="name"  class="form-control" placeholder="Naziv kategorije...">
                    </div>
                    


                    <hr>
                    <div class="col-12 text-end">
                        <button type="submit"name="sub" class="btn btn-primary mb-0">Kreiraj</button>
                    </div>
                    </form>
                </div>
                <!-- Create a page form END -->
                </div>
                <!-- Create a page END -->
            </div>

        </div>
    </div>
</main>