<div>

    <!-- Advanced filter responsive toggler START -->
    <div class="d-flex align-items-center d-lg-none">
      <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
        <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
        <span class="h6 mb-0 fw-bold d-lg-none ms-2"></span>
      </button>
    </div>
    <!-- Advanced filter responsive toggler END -->
    
    <!-- Navbar START-->
    <nav class="navbar navbar-expand-lg mx-0"> 
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
        <!-- Offcanvas header -->
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- Offcanvas body -->
        <div class="offcanvas-body d-block px-2 px-lg-0">
          <!-- Card START -->
          <div class="card overflow-hidden">
            <!-- Cover image -->
            <div class="h-50px" style="background-image:url(images/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <!-- Card body START -->
              <div class="card-body pt-0">
                <div class="text-center">
                <!-- Avatar -->
                <div class="avatar avatar-lg mt-n5 mb-3">
                  <a href="#!"><img class="avatar-img rounded border border-white border-3" src="assets/images/07.jpg" alt=""></a>
                </div>
                <!-- Info -->
                <h5 class="mb-0"> <a href="#!">{{user.FirstName}} {{user.LastName}} </a> </h5>
                <small>{{user.Role}}</small>
                

                <!-- User stat START -->
               
                <!-- User stat END -->
              </div>

              <!-- Divider -->
              <hr>

              <!-- Side Nav START -->
              
              <!-- Side Nav END -->
            </div>
            <!-- Card body END -->
           
          </div>
          <!-- Card END -->

          <!-- Helper link START -->
         
         
        </div>
      </div>
    </nav>
    <!-- Navbar END-->
</div>
  <!-- Sidenav END -->