<main>
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-8 mx-auto">
        <div class="vstack gap-4">
          <!-- Blog single START -->
          <div class="card card-body">
            <img class="rounded" src="/assets/images/user.webp" alt="">
            <div class="mt-4">
              <!-- Tag -->
              <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">{{ blog.category }}</a>
              <!-- Title info -->
              <h1 class="mb-2 h2">{{ blog.title }}</h1>
              <ul class="nav nav-stack gap-3 align-items-center">
                <li class="nav-item">
                  <div class="nav-link">
                    by <a href="#" class="text-reset btn-link">{{ blog.author }}</a>
                  </div>
                </li>
                <li class="nav-item"> <i class="bi bi-calendar-date pe-1"></i>
                {{ blog.createdAt | FormatDate }}</li>
                <li class="nav-item"> <i class="bi bi-clock pe-1"></i>5 min read</li>
              </ul>
              <!-- description -->
              <p class="mt-4"> {{ blog.description }}</p>
            </div>
          </div>
          <!-- Card END -->
          <!-- Comments START -->
          
          <!-- Blog single END -->
        </div>
      </div>
      <!-- Main content END -->
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>