
<section>
<main>
    <div class="container">
		<div class="row g-4">
			<div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
				<div class="nav-item w-100">
					<form class="rounded position-relative mb-0" (ngSubmit)="search()">
						<input class="form-control ps-5 bg-light" [(ngModel)]="keyword" name="keyword" type="search" placeholder="Претражи..." aria-label="Претражи">
						<button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
					</form>
				</div>
			</div>

			<!-- Main content START -->
			<div class="col-12col-md-8 col-lg-9 vstack gap-4">

				<!-- Story START -->
				<ng-container *ngIf="isLoggedIn">
					<div class="d-flex gap-2 mb-n3">
						<div class="position-relative w-100">
							<div class="card border border-2 border-dashed h-150px px-4 px-sm-5 shadow-none d-flex align-items-center justify-content-center text-center">
								<div>
									<a class="stretched-link btn btn-light rounded-circle icon-md" routerLink="/user/create-post"><i class="fa-solid fa-plus"></i></a>
									<h6 class="mt-2 mb-0 small">Креирај пост</h6>
								</div>
							</div>
						</div>

						<!-- Stories -->
						<div id="stories" class="storiesWrapper stories-square stories user-icon carousel scroll-enable"></div>
					</div>
				</ng-container>


                <ng-container *ngFor="let post of posts"> 
                    <!-- Card feed item START -->
                    <app-post [post]="post"></app-post>
                    <!-- Card feed item END -->
                </ng-container>
				

			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-12 col-lg-3">
				<div class="row g-4">
					
					<!-- Card News START -->
					<div class="col-sm-6 col-lg-12">
						<div class="card">
							<!-- Card header START -->
							<div class="card-header pb-0 border-0">
								<h5 class="card-title mb-0">Блог</h5>
							</div>
							<!-- Card header END -->
							<!-- Card body START -->
							<div class="card-body">
								<!-- News item -->
								<ng-container *ngFor="let blog of blogs">
									<div class="mb-3">
										<h6 class="mb-0"><a routerLink="/blog-details/{{blog.blogId}}">{{blog.title}} </a></h6>
										<small>{{blog.createdAt | FormatDate}}</small>
									</div>
								</ng-container>
								
								<!-- Load more comments -->
								<a routerLink="/blog" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
									<div class="spinner-dots me-2">
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
									</div>
									Pogledaj sve blogove
								</a>
							</div>
							<!-- Card body END -->
						</div>
					</div>
					<!-- Card News END -->
				</div>
			</div>
			<!-- Right sidebar END -->

		</div> <!-- Row END -->
	</div>
</main>



</section>
